:root {

    /* Backgrounds */
    --bg-primary: #FFFFFF;
    --bg-secondary: #F8FAF8;
    --bg-tertiary: #F2FCF4;

    /* Text */
    --text-primary: #1E293B;
    --text-secondary: #293341;
    --text-muted: #94A3B8;

    /* Borders */
    --border-color: #DCEFE2;

    /* Brand Colors */
    --accent-color: #3AA649;
    --accent-hover: #2D8C3D;
    --accent-light: #7BC33D;
    --accent-soft: #EAF8EB;

    /* Secondary Accent */
    --gold: #FAC308;

    /* States */
    --selection: #CDEFCF;
    --hover-bg: #F2FCF4;
    --active-bg: #D9F4DD;
}

[data-theme="dark"] {

    /* Backgrounds */
    --bg-primary: #0A120C;
    --bg-secondary: #101915;
    --bg-tertiary: #18231D;

    /* Text */
    --text-primary: #F8FAF8;
    --text-secondary: #C7D2CC;
    --text-muted: #8B9A91;

    /* Borders */
    --border-color: #2B4035;

    /* Brand */
    --accent-color: #3AA649;
    --accent-hover: #56BF57;
    --accent-light: #7BC33D;
    --accent-soft: #23452D;

    /* Secondary Accent */
    --gold: #FAC308;

    /* States */
    --selection: #295438;
    --hover-bg: #16251C;
    --active-bg: #23452D;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
}

.nav-containt-left {
    display: flex;
    margin-left: 10px;
}


.nav-containt-left img {
    width: 45px;
    height: 50px;
    object-fit: contain;
    flex-shrink: 0;
    transition: .3s ease;
}

.nav-toolbar {
    display: flex;
    gap: 5px;
    justify-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
}

.logo-text h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 1;

    color: var(--accent-color);
    letter-spacing: -0.5px;
}

.logo-text h1 span {
    color: var(--text-secondary);
}

.logo-text p {
    font-size: 10px;
    color: var(--text-secondary);

    font-weight: 300;
}


